
.left-bar-title{
    font-weight: 700;
    color: $secondary;
    padding: 1rem 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    

    h3{
        margin-left: 1rem;
        font-size: 1rem;
    }

    .mh-search-input{

        position: absolute;
        width: calc(100% - 1rem);
        height: 40px;
        top: 0;
        bottom: 0;
        right: 1rem;
  
        @media (max-width: 1199.98px){
          top: 20px;
        }
  
        .search{
          position: absolute;
          box-sizing: border-box;
          border: none;
          background: transparent;
          border-radius: $spacer * 3;
          padding: $spacer/1 $spacer*1;
          overflow: hidden;
          width: 40px;
          height: 40px;
          top: 4px;
          right: 0;
          transform-origin: center center;
          transition: all .7s cubic-bezier(.32,1.33,.43,1.01);
  
          &:focus{
            outline: none;
          }
        }
  
        .search-button{
          position: absolute;
          bottom: 0;
          right: 0;
          width: 40px;
          background: 0 0;
          border: 0;
          top: 50%;
          transform: translateY(-50%);
          outline: none;
          transition: all .7s cubic-bezier(.32,1.33,.43,1.01);

          svg{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            top: calc(50% + 5px);
            transform: translateY(-50%);
            width: 35px;
            transform-origin: center;
            -webkit-transition: -webkit-transform .7s cubic-bezier(.32,1.33,.43,1.01); 
            -moz-transition: -moz-transform .7s cubic-bezier(.32,1.33,.43,1.01);
            -o-transition: -o-transform .7s cubic-bezier(.32,1.33,.43,1.01);
            transition: transform .7s cubic-bezier(.32,1.33,.43,1.01);
          }
      }
  
      &.expand{
        .search{
        border: 1px solid $gray-300;
          background: $white;
          width: 100%;
          padding: $spacer/2 $spacer*1.5 $spacer/2 $spacer*3;
        }
        .search-button{
          right: calc(100% - 3rem);
          svg{
            transform: translateY(-50%) rotate(90deg);
            .search-icon-1{
              fill: #fff;
            }
          }
        }
      }
        
      }
}

.car-filter{
    .grid-radio{
        display: grid;
        
        row-gap: 10px;

        &.gr-2{
            grid-template-columns: 1fr 1fr ;
        }
        &.gr-3{
            grid-template-columns: 1fr 1fr 1fr;
        }
        &.gr-4{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &.gr-5{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &.gr-6{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .cd-radio {
            
            .custom-control-label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $gray-500;
            cursor: pointer;
            position: relative;
            height: 60px;

            img{
                opacity: .7;
                filter: grayscale(.8);
                margin-bottom: -8px;
                transition: all .3s ease-out;
                width: 40px;
                transform: skewX(0);
                transition: transform .3s ease-in-out;
                transform-origin: left bottom;
                position: absolute;
                top: 0;
            }
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }

            span{
                position: absolute;
                bottom: 0;
            }
        }
        }
    }
    .custom-control-input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
      
        &:checked ~ .custom-control-label{
            color: $secondary;
            font-weight: 600;
            img{
                filter: grayscale(0);
                opacity: 1;
                position: absolute;
                animation: floatRight 1s linear infinite;
            }
        }
    }

    .color-icon{
        display: inline-flex;
        margin-top: 2px;
        font-size: 1rem;
        color: $secondary;
        position: relative;
        p{
            margin-left: 5px;
        }
    }
}

.accordian-head{

    .btn-link{
    font-family: $segoe-semibold;
        color: $secondary;
        text-decoration: none;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i{
            position: relative;
            text-align: right;
            left: auto;
            transform: translateY(0%);
        }
    } 
}

.car-list{
    width: 100%;
    margin-top: 1.25rem;
    
.card{
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    font-family: $segoe;
    position: relative;
    border-color: transparent;
    margin-bottom: .875rem;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(43, 54, 81, .1) !important;
    transition: all .3s ease-in-out;
    border: 1px solid $gray-300;

        &:hover{
            box-shadow: 0 10px 20px -10px rgba(43, 54, 81, .2) !important;
        }

    .card-body{
        display: flex;
        border:none;
        box-sizing: border-box;
        position: relative;
        background: $white;
        border-radius: 4px;
        z-index: 2;
        left: 0;
        right: 0;
        padding: 0.625rem;

        .card-img{
            display: inline-block;
            position: relative;
            overflow: hidden;
            width: 290px;
            min-height: 120px;
            margin-right: 15px;
            border-radius: 0;

            .premium-tag{
                position: absolute;
                top:6px;
                left: 6px;
                background: $secondary;
                padding: 5px;
                border-radius: 4px;
                z-index: 100;
                height:30px;
                width: 30px;
                display: flex;
                pointer-events: none;
                justify-content: center;
                align-items: center;
            }

            .maz-auction-time{
                position: absolute;
                width: 100%;
                height: 20px;
                padding: 1rem 1rem 1.25rem;
                background: rgba(0, 0, 0, .7);
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 0;

                .countdown{
                    font-size: 1.15rem;
                    font-weight: 600;
                    text-transform: uppercase;

                    span{
                        // color: $primary;
                        text-transform: none;
                        font-size: .75rem;
                        font-weight: 600;
                        margin-right: 5px;
                    }
                }
            }

        }
        .card-description{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .card-caption{
            z-index: 1;
            // width: 100%;
            padding-top: 1rem;
            width: 40%;

            .meta{
                text-align: left;
                font-weight: 600;
                font-size: .875rem;
                color: $gray-400;
            }
            .favorite{
                margin-top: 5px;
                font-size: .875rem;
                text-align: left;
                cursor: pointer;
                color: $gray-400;
            }
            .is-favorited{
                margin-top: 5px;
                font-size: .875rem;
                text-align: left;
                cursor: pointer;
                color: $secondary;

                i{
                    color: $red;
                    margin-right: 5px;
                }
            }
            .is-premium{
                height: 1.5rem;
                display: flex;
                align-items: center;
                color: #D68417;
                font-family: $segoe;
                font-weight: 600;
                margin-top: 1rem;

                img{
                    margin-right: 5px;
                }
            }
            .card-title{
                line-height: $spacer * 1.2;
                color: $gray-900;
                font-size: 1.125rem;
                font-weight: 700;
                font-family: $segoe;
                text-align: left;
                margin-bottom: .875rem;
                text-decoration: none;
                text-transform: uppercase;
                &:hover{
                    color: $secondary;
                }
            }
                .price{
                    font-size: 1.25rem;
                    font-weight: 700;
                    text-align: left;
                    color: $gray-900;
                }
        }
        .info{
            padding-top: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            width: 60%;

            .info-icon{
                display: inline-flex;
                margin-right: 20px;
                margin-bottom: $spacer * 1.5;
                font-size: 1.25rem;
                color: $secondary;
                align-items: center;
                position: relative;

                img{
                    width: 24px;
                    height: 24px;
                }

                p{
                    font-family: "Segoe UI","Open Sans",Helvetica,sans-serif;
                    font-size: .875rem;
                    display: inline-block;
                    color: $secondary;
                    text-align: left;
                    margin-left: 10px;
                    margin-bottom: 0;
                }
            }

            .tag{
                grid-column-start: 1;
                grid-column-end: 4;
                overflow: hidden;
                white-space: nowrap;

                div{
                    display: inline-block;
                    padding: .25rem .875rem;
                    margin-bottom: .25rem;
                    margin-right: .25rem;
                    background: $gray-200;
                    border-radius: 4px;
                    text-decoration: none;
                    transition: all .3s ease;
                    box-shadow: 0 0 0 0 rgba(43, 54, 81, .1);
                    font-size: .75rem;
                    color: $secondary;

                    &:hover{
                        background: $gray-100;
                        box-shadow: 0 5px 10px 0 rgba(43, 54, 81, .1)
                    }
                }
            }
        }

    }

    &.sold{
        .card-body{
            .card-img{
                display: inline-block;
                position: relative;
                overflow: hidden;
                width: 290px;
                min-height: 120px;
                margin-right: 15px;
                border-radius: 0;
                &::before{
                    content: '';
                    background: $gray-900;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    opacity: .8;
                }
    
                &::after{
                    content: 'SOLD OUT';
                    position: absolute;
                    text-align: center;
                    background: $white;
                    height: 1.5rem;
                    width: 100%;
                    color: $secondary;
                    font-family: $segoe;
                    font-weight: 700;
                    left: -4rem;
                    top: 1.8rem;
                    transform: rotate(-45deg);
                }
            }
        }
    }

}

&.sell-car{

    .card-body{
        .info{
            .sell-action{
                grid-column-start: 1;
                grid-column-end: 4;
                white-space: nowrap;
                overflow: hidden;
                div{
                    font-size: 1rem !important;
                    display: inline-block;
                    transition: all .3s ease;
                    box-shadow: 0 0 0 0 rgba(43, 54, 81, .1);
                    font-size: .875rem;
                    color: $gray-500;
                    margin: 0 1rem 0 0;
                    &:hover{
                        color: $secondary;
                        text-decoration: underline;
                    }
                }
            }
        }

    }
}

@media (max-width: 767.98px) {
    .card{
        .card-body{
            flex-direction: column;
            .card-img{
                display: block;
                width: 100%;
            }
            .card-description{
                padding: 1rem;
                .card-caption{
                    padding-top: .5rem;
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .card-title{
                        font-size: 1.5rem;
                    }
                    .meta {
                        font-size: 1rem;
                    }
                    .favorite {
                        font-size: 1rem;
                    }
                    .price {
                        position: absolute;
                        border-top-left-radius: 6px;
                        background: $white;
                        padding: .5rem 1rem;
                        font-size: 1.5rem;
                        right: -1rem;
                        top: -3.5rem;
                    }
                }
                .info{
                    display: none;
                    grid-template-columns: auto auto auto;
                    width: 100%;
                    .info-icon{
                        display: inline-flex;
                        margin-right: $spacer;
                        margin-bottom: $spacer;
                        font-size: 1rem;
                        color: $secondary;
                        align-items: center;
                        position: relative;
                        p{
                            font-size: 1rem;
                        }
                        img {
                            width: 26px;
                            height: 26px;
                        }
                    }
                    .tag{
                        white-space: normal;
                        div{
                            font-size: .875rem;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .card{
        .card-body{

            .card-description{
                .card-caption{
                    padding-top: .5rem;
                    width: 100%;
                }
                .info{
                    display: none;
                }
            }
        }
    }
  
  }
}

.homeFreeCars{
    .car-list{
        margin-top: 0;
        .card{
            .card-body{
                .card-description{
                    .card-caption{
                        width: auto;
                    }
                }
            }
        }
    }
}
