.pageType-footer{

  position: relative;
  bottom: -6rem;
  z-index: 9999;

  .sell-type-img{
    width: 100%;
    position: relative;
    left: 0;
    transition: all .1s ease-in-out .3s;

    &.auction-car{
      &:after{
        position: absolute;
        top: -20px;
        left: 230px;
        content:  url(../img/auction-tag.png);
      }
    }
    &.sell-car{
      &:after{
        position: absolute;
        top: -25px;
        left: 20px;
        content:  url(../img/sell-tag.png);
      }
    }
    &.reg-car{
      &:after{
        position: absolute;
        top: -25px;
        left: 20px;
        content:  url(../img/reg-tag.png);
      }
    }
  }
}

footer.footer {
  background: #2B3651;
  margin-top: 0;
  padding-top: 6rem;
  padding-bottom: 4rem;
  position: relative;
  width: 100%;
  z-index: 2;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);

  @media (min-width: 575.98px)  {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }

  .footer-svg{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
    fill: $secondary;
  }

  .footer-brand{
    font-size: 1.6rem;
    font-weight: 800;
    color: $white;
  }

  // &:after{
  //   content: '';
  //   position: absolute;
  //   width: 110%;
  //   height: 140px;
  //   background: #fff;
  //   left: -5%;
  //   top: 0%;
  //   transform: rotate(-3deg);
  //   transform-origin: left;
  //   pointer-events: none;
  // }

  .list-inline-item{
    margin: 0 1.2rem;

    &:first-child{
      margin-left: 0;
    }
    a{
      color: #fff;
      transition: all .3s ease;

      &:hover{
        text-decoration: none;
        opacity: .7;
      }
    }
  }

  .text-muted{
    .list-inline-item{
      a{
        color: $gray-500;
        transition: all .3s ease;
  
      }
    }
  }
}
