body {
  font-family: $segoe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $segoe;
  font-weight: 700;
}

.bg-page-header{
  position: absolute;
  background-color: $gray-800;
  background: linear-gradient(20deg, $gray-300 20%, $white 80%);
  height: 45vh;
  @include background-cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: $secondary;
  padding-top: $spacer * 2;
  z-index: 0;
  top: 0;
  width: 100%;
  clip-path: polygon(0 0%, 100% 0, 100% 80%, 0% 100%);

  // &:after{
  //   content: '';
  //   position: absolute;
  //   width: 110%;
  //   height: 140px;
  //   background: #fff;
  //   left: -5%;
  //   top: 100%;
  //   transform: rotate(-4deg);
  //   transform-origin: left;
  //   z-index: -1;
  // }

  &.full-height{
    height: 100vh;
    z-index: -1;
  }
}

.more-arrow{
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all .3s ease;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background: $red;
    transform: rotate(45deg);
  }
  &:after{
    content: '';
    position: absolute;
    top: 100%;
    margin-top: -4px;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background: $red;
    transform: rotate(-45deg);
  }
}

.mainPage-items{
  padding-top: 3.5rem;
  padding-bottom: 1.875rem;
}

.text-muted { color: $gray-400 !important; }

.color[data-color^="black"] {
  &:before{
      content: '';
      width: 20px;
      height: 20px;
      background-image: radial-gradient(circle at top right, rgb(217, 217, 217) 0%, rgb(0, 0, 0) 100%);
      border-radius: 50%;
      display: inline-block;
      position: relative;
  }
}
.color[data-color^="white"] {
  &:before{
      content: '';
      width: 20px;
      height: 20px;
      background:  radial-gradient(circle at top center, #fefefe 20%, #c7c5c8 100%);
      border-radius: 50%;
      display: inline-block;
      position: relative;
  }
}
.color[data-color^="silver"] {
  &:before{
      content: '';
      width: 20px;
      height: 20px;
      background:  radial-gradient(circle at top center, #dadedf 20%, #888c8e 100%);
      border-radius: 50%;
      display: inline-block;
      position: relative;
  }
}
.color[data-color^="dark-gray"] {
  &:before{
      content: '';
      width: 20px;
      height: 20px;
      background:  radial-gradient(circle at top center, #A5A5A5 20%, #646466 100%);
      border-radius: 50%;
      display: inline-block;
      position: relative;
  }
}
.color[data-color^="red"] {
  &:before{
      content: '';
      width: 20px;
      height: 20px;
      background:  radial-gradient(circle at top center, #FFC9CE 20%, #DF2626 100%);
      border-radius: 50%;
      display: inline-block;
      position: relative;
  }
}
.color[data-color^="blue"] {
  &:before{
      content: '';
      width: 20px;
      height: 20px;
      background:  radial-gradient(circle at top center, #84A3EF 20%, #2B3651 100%);
      border-radius: 50%;
      display: inline-block;
      position: relative;
  }
}
.color[data-color^="sea"] {
  &:before{
      content: '';
      width: 20px;
      height: 20px;
      background:  radial-gradient(circle at top center, #D4EDEF 20%, #94ADAF 100%);
      border-radius: 50%;
      display: inline-block;
      position: relative;
  }
}
.color{
  &:after{
    content: '';
    width: 16px;
    height: 14px;
    left: 2px;
    top: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $gray-200;
}

.bg-dark{
  background-color: $secondary !important;
}



.page-top-navbar{
  width: 100%;
  position: relative;
  padding: .75rem;

  .total-cars{
    font-size: 1rem;
    font-family: $segoe;
    font-weight: 700;
  }
  .sort-cars{
    margin-left: 20px;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        display: inline-block;
        margin: 0 3px;
        color: $gray-400;
        &.active{
          a{
            font-weight: 500;
            color:$secondary;
          }
        }
        &:after{
          content: "|";
          margin-left: 10px;
          color: $gray-400;
        }
        &:last-child{
          &:after{
            content: '';
          }
        }
        a{
          color: $gray-400;
          text-decoration: none;
          font-size: .875rem;
          font-weight: 400;
        }
      }
    }
  }
  a{
      color: $secondary;
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      transition: all .3s ease;

      &.active{
          color: $secondary;
          font-weight: 700;
          font-size: 1.1rem;
      }

      &:hover{
          color:$primary;
      }
      
  }

  @media (max-width: 767.98px) {
    display: none;
  }
}

.finance-information{
  margin: 2rem 0;
}

// Pagination

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  opacity: .5;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $secondary;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;
}
.page-item:last-child .page-link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-color: $secondary;
  background: $secondary;
  color: $white;
}
.page-item:first-child .page-link {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-color: $secondary;
  background: $secondary;
  color: $white;
}

// Grid 

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.card{
  &.cd-box{
      padding-bottom: 1rem;
      height: 100%;
  }
}

.fixed-sidebar {
  width: max-content;
  height: 0;
  display: none;

  @media (max-width: 768px) {
    display: none;
  }
}
.sticky-content {
  width: 124px;
  margin-left: 40px;
  display: grid;
  grid-gap: 10px;
}

.fixed-sidebar .owl-stage {
  padding-left: 0px!important;
}
.fixed-sidebar .owl-dot {
  zoom: 0.6!important;
}

.banner-slider{
  .owl-dots{
    position: absolute;
    top: 0;
    left: 1rem;

    .owl-dot span {
      width: 8px;
      height: 8px;
      margin: 5px 5px;
      background: $white;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px;
      transition: all .3s linear;
  }
  }
}

section .owl-theme .owl-dots .owl-dot.active span {
  background: #2680eb;
  width: 20px;
  outline: 0;
  transition: all .3s linear;
}