.sell-car{
  font-family: $segoe;

  .card-header{
    padding: 1.25rem;
    background: $white;
    border-bottom: 1px solid $gray-300;
  }
}

.step-process{
  display: grid;
  flex-wrap: wrap;
  position: relative;
  text-align: center;

  &.sp-2{
    grid-template-columns: 1fr 1fr;
  }
  &.sp-3{
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.sp-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.sp-5{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  &.sp-6{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .progress_inner_step{
    font-family: $segoe;
    position: relative;
    padding-top: 4rem;
    color: $gray-400;
    cursor: pointer;

    label{
      font-family: "Segoe UI","Open Sans",Helvetica,sans-serif;
      display: inline-block;
      margin-bottom: .5rem;
      position: relative;
      left: 0;
      right: 0;
      font-size: .875rem;
      margin: 0 auto;
    }

    &::after{
      content: '';
      position: absolute;
      width: $spacer / 1.2;
      height: $spacer / 1.2;
      background: $gray-400;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      transform-origin: center center;
      border: 3px solid $white;
    }
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 50%;
      top: 50%;
      background: $gray-300;
    }

    &.active{
      font-family: $segoe;
      font-weight: 700;
      color: $secondary;

      &::after{
        content: '';
        position: absolute;
        width: $spacer * 2.3;
        height: $spacer * 2.3;
        background: $secondary;
        border-radius: 50%;
        top: 50%;
        background-image:url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jaGVjay1pY29uPC90aXRsZT48ZyBpZD0iUGF0aF8yMTgyLTIiIGRhdGEtbmFtZT0iUGF0aCAyMTgyLTIiPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTEzLjg2LDIwYTEuMjMsMS4yMywwLDAsMS0uODYtLjM0TDguOSwxNS43OEExLjI1LDEuMjUsMCwwLDEsMTAuNjIsMTRsMy4yMSwzLDYtNi4xMmExLjI1LDEuMjUsMCwxLDEsMS43OCwxLjc1bC02LjksN0ExLjIyLDEuMjIsMCwwLDEsMTMuODYsMjBaIi8+PC9nPjwvc3ZnPg==');
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: center center;
        border: 3px solid $white;
      }
    }
    &.done{
      font-weight: 400;
      color: $teal;

      &::after{
        content: '';
        position: absolute;
        width: $spacer * 2.3;
        height: $spacer * 2.3;
        background: $teal;
        border-radius: 50%;
        top: 50%;
        background-image:url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jaGVjay1pY29uPC90aXRsZT48ZyBpZD0iUGF0aF8yMTgyLTIiIGRhdGEtbmFtZT0iUGF0aCAyMTgyLTIiPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTEzLjg2LDIwYTEuMjMsMS4yMywwLDAsMS0uODYtLjM0TDguOSwxNS43OEExLjI1LDEuMjUsMCwwLDEsMTAuNjIsMTRsMy4yMSwzLDYtNi4xMmExLjI1LDEuMjUsMCwxLDEsMS43OCwxLjc1bC02LjksN0ExLjIyLDEuMjIsMCwwLDEsMTMuODYsMjBaIi8+PC9nPjwvc3ZnPg==');
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: center center;
        border: 3px solid $white;
      }
      &::before{
        content: '';
        background: $teal;
        height: 2px;
      }
    }

    &:last-child{
      &:before{
        display: none;
      }
    }
  }
}