section{
    &.body-section {
        margin-top: 10rem;
    }
    .section-title{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.875rem;

        h2{
            text-transform: uppercase;
            font-size: 1.25rem;
            font-family: $segoe;
            color: $secondary;
            margin-bottom: 0;
        }
        &.text-light{
            h2{
                color: $white;
            }
            
        }

        span{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            color: $red;

            a{
                color: $red;
                font-size: .875rem;
                font-family: $segoe;
                font-weight: 600;
                margin-left: 2.5rem;
                transform: all .3s ease;
                
                &:hover{
                    text-decoration: none;
                }
            }
            i{
                position: absolute;
                margin-left: 8px;
                margin-top: 3px;
                font-size: 1rem;
                transition: all .3s ease;
            }
            
        }

        &:hover{
            i{
                margin-left: 12px;
            }
        }
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
        background: $white;
        color: inherit;
        border: none;
        padding: 0 !important;
        line-height: $spacer / 2;
        font-size: 1.125rem;
        outline: none;
        height:30px;
        width: 30px;
        margin: 0;
        border-radius: 0;
        border: 1px solid $gray-300;
    }

    .owl-theme .owl-nav [class*='owl-']:hover {
        background: $gray-300;
        color: $secondary;
        text-decoration: none;
    }

    .owl-theme .owl-nav {
        text-align: right;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        top: -60px;
        right: 0
    }
    .owl-theme .owl-dots {
        margin-top: 1rem;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: $primary;
        outline: none;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        outline: none;
    }
}